@import '~antd/dist/antd.css';

.App {
  text-align: center;
}
#root {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.absoluteCenter {
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.transparentBackground {
  background-color: #ADD8E630;
  border-radius: 10px;
  padding: 3px;
}
.transparentText {
  color: #00000030;
  font-size: 10px;
}


.songParagraph {
  white-space: pre-wrap;
  margin: 0px 0px 0px 0px;
  min-height: 1.25em !important;
}
.versionSelector {
  display: inline-block;
}
.autoScrollConfigBox {
  float: right;
}
.autoScrollSlider {
  margin-top: 6px;
  margin-bottom: 2px;
}
.autoScrollValueDiv {
  display: inherit;
}
.autoScrollValueLabel {
  display: table;
  margin: auto auto;
}
.groupByArtistDiv {
  float: right;
}